@using SportsStore.Domain.Entities
@model IEnumerable<Product>
@{
    ViewBag.Title = "Products";
}
@foreach (var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        <img src="@Url.Content(p.ImagePath)" alt="image" height="100"><br>
        @*@p.ImagePath*@
        @p.Description
        <h4>@p.Price.ToString("c")</h4>

    </div>
}